html, body {
  margin: 0;
  padding: 0;
  font-family: Oswald, sans-serif;
  overflow-x: hidden;
}
/*
=======================
==     Variables     ==
=======================

:root {
  --primaryColor: #000eff;
  --primaryOpaque: #000eff8a;
  --accentOpaque: #008eff33;
  --secondaryColor: #333eff;
  --accentBlue: #008eff;
  --accentPurple: #7100ff;
  --whiteMain: #ffefff;
  --grayMedium: #555655;
  --grayMain: #eeefee;
  --grayLight: #eeefee;
  --blackMain: #000e00;
  --blackOpaque: #000e00dd;
  --green1: #0eff00;
  --green2: #00ff72;
  --red1: #FF000E;
}
/*
=====================
==     Globals     ==
=====================
*/

main {
  padding: 0;
  margin: 0;
}
section {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
  padding: 0;
  margin: 0;
  border: none;
  margin-bottom: -5px;
}
button:hover{
  cursor: pointer;
}
.btn {
  border: 2px #ffefff solid;
  border-radius:3px;
  padding: 5px 9px;
  margin-right: 8px;
  margin-top: 4px;
  font-size: 20px;
  text-shadow: -1px -1px #000e00;
  box-shadow: -2px -2px #000e00;
}
.btn-purple {
  background-color: #7100ff;
  color: #ffefff;
}
.btn-transparent{
  color: #ffefff;
  border:none;
  box-shadow:none;
  background-color:transparent;
}
.underline {
  width: 44px;
  height: 2px;
  background-color: #008eff;
}
.section-header {
  padding: 16px;
  margin: auto;
  margin-bottom: 16px;
  max-width: 1280px;
}
.container {
  max-width: 1280px;
  margin: auto;
}
/*
=====================
==     Headers     ==
=====================
*/
h1 {
  font-family: Fascinate, serif;
  margin-top: 4px;
  margin-bottom: 12px;
}
h2 {
  font-family: Fascinate, serif;
}
h3 {
  text-shadow: -1px -1px #eeefee;
  font-family: Caveat, cursive;
  margin-top: 8px;
  font-size: 24px;
  color: #555655;
}
h4 {
  font-family: Caveat, cursive;
}
h5 {
  font-family: Caveat, cursive;
}
h6 {
  font-family: Oswald, sans-serif;
  color: #333eff;
  font-weight: 500;
  margin-bottom: 0;
  letter-spacing: 1px;
  font-size: 11px;
}
p{
  font-size:18;
}
/*
=================
==     SVG     ==
=================
*/
.line {
  width: 32px;
  height: 3px;
  margin: 8px 0;
  background-color: #ffefff;
  box-shadow: -2px 2px #000e00;
}
/*
====================
==     Navbar     ==
====================
*/
header {
  max-width: 1280px;
  width: 100%;
  position: absolute;
  z-index: 3;
}
#branding {
  float: left;
  margin: 16px 16px;
  font-family: Fascinate, serif;
  font-size: 32px;
  line-height: 40px;
  color: #ffefff;
  text-shadow: -1px 1px #000e00;
}
#hamburger {
  float: right;
  margin: 24px 16px;
}
#hamburger:hover{
  cursor: pointer;
  color: #eeefee;
}
#hamburger-top, #hamburger-bottom{
  transition: all 1s;
  position: relative;
}
/*
====================
==     Modals     ==
====================
*/
.modal{
  background-color: #7100ff;
  height: 100vh;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  opacity: 0;
  transition: opacity .6s ease-in;
  box-shadow: 1px 1px 3px #000e00;
  padding-top: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
  color: #ffefff;
}
.modal-bg {
  background-position: center;
  position: absolute;
  width: 100%;
  height: 100%;
}
.modal-opaque {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000eff8a;
}
.modal-content {
  transition: all 1.2s;
  z-index: 1;
  position: relative;
  bottom:100%;
  padding: 24px;
  background-color: #000e00dd;
}
.modal-content h2{
  padding-top: 8px;
  padding-bottom: 6px;
  border-bottom: 1px #008eff solid;
}
#modal-nav-content h2{
  margin-top: 44px;
  padding: 4px;
}
.x-out {
  position: absolute;
  right: 8px;
  top:8px;
  color: #000e00;
  font-size: 16px;
  background-color: #ffefff;
  border-radius: 50%;
  transition: all .2s;
}
.x-out:hover {
  cursor: pointer;
}
.x-out i{
  padding: 2px 5px;
}
#modal-nav ul{
  padding:0;
  margin: 0;
}
#modal-nav li{
  margin: 4px;
  padding:4px;
  font-size: 44px;
  border-bottom: 1px white dashed;
}
#modal-nav li:last-of-type{
  border-bottom:none;
}
#modal-nav li a {
  color: white;
}
#modal-ad-bg{
  background-image: url(../img/thinking.jpg);
}
#modal-nav-bg{
  background-image: url(../img/code-min.jpg);
}
#modal-ad-content h4{
  font-size: 26px;
  margin-top: 4px;
  margin-bottom: 16px;
}
#modal-ad-content input[type=email], #modal-ad-content input[type=text], #modal-ad-content textarea{
  width: 100%;
  margin-bottom: 4px;
}
#x-top{
  position: relative;
  display: block;
  margin: 0;
  top: 23px;
  transform: rotate(-45deg);
  -moz-transform: rotate(50%);
}
#x-bottom {
  position:relative;
  margin: 0;
  top: 21px;
  transform: rotate(45deg);
  -moz-transform: rotate(50%);
}
/*
========================
==     Hero Image     ==
========================
*/
.hero-image {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-image2{
  position: relative;
}
.hero-bg {
  position: absolute;
  z-index: 0;
  height: 100%;
  width: 100%;
  background-image: url(../img/collage-2layer-1-min.jpg);
  background-position: center;
  background-size: cover;
}
.hero-bg-small {
  height: 160px;
  background-image: url(../img/collage-2layer-1-min.jpg);
  background-position: center;
  background-size: cover;
}
.hero-bg-mini {
  height: 80px;
  background-image: url(../img/collage-2layer-1-min.jpg);
  background-position: center;
  background-size: cover;
}
#hero-portfolio {
  background-image: url(../img/collage-coding-min.jpg);
}
#hero-about {
  background-image: url(../img/collage2-min.jpg);
}
#hero-work {
  background-image: url(../img/collage-thin-min.jpg);
}
#hero-404{
  background-image: url(../img/collage404-min.jpg);
}
.hero-opaque {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  top:0;
  background-color: #000eff8a;
}
.hero-text {
  z-index: 2;
  padding: 88px 4px 80px 4px;
  color: #ffefff;
  text-align: left;
}
.hero-text h1 {
  font-family: Oswald, sans-serif;
  font-weight: 900;
  letter-spacing: 1px;
  text-shadow: -2px 2px #000e00;
  margin-bottom: 4px;
}
.hero-text p {
  text-shadow: -2px 2px #000e00;
  font-size: 22px;
  margin-top: 12px;
  margin-bottom: 32px;
}
/*
====================
==     Profile    ==
====================
*/
.profile-bg{
  background-size: 100%;
  background-position:center;
  position:relative;
  background-color: #eeefee;
}
.profile-bg::before{
  content:"";
  width:100%;
  height:100%;
  background-color: #ffffff;
  opacity: .9;
  position:absolute;
  top:0;
  left:0;
}
.profile {
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: auto;
  overflow: hidden;
  background-color: #eeefee;
}
.profile-text {
  position:relative;
  margin: auto;
}
.social-links{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.social-links a{
  margin: 8px 16px;
}
.profile .social-links a{
  margin-left: 4px;
}
.social-links a i {
  font-size: 42px;
}
.profile-img-div {
  position: relative;
  z-index: 1;
}
.profile-img {
  height:0;
  width:0;
}
/*
======================
==     Portfolio    ==
======================
*/
.work {
  position: relative;
  padding: 0;
  margin: 0;
  width: 100%;
  border: none;
  overflow: hidden;
  box-sizing: border-box;
}
.work-overlay {
  font-size: 24px;
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
  position: inline;
  background-color: #008eff33;
  transform: translateY(100%);
  opacity: 0;
  transition: .2s all;
  box-sizing: content-box;
}
.work:hover .work-overlay{
  transform: translateY(0);
  opacity: 1;
}
.work-links {
  padding: 12px;
}
.work-links a {
  color: #008eff;color: #ffefff;
}
.work-overlay h3 {
  font-family: Oswald, sans-serif;
  font-weight: 400;
  font-size: 40px;
  color: #ffefff;
  text-shadow: -1px -1px #000e00;
}
.work-overlay i {
  margin: 8px;
}
.link-strip {
  font-size:24px;
  color: #ffefff;
  background-color: #008eff;
  text-align: center;
  padding: 12px 12px 40px 12px;
}
.link-strip h2{
  font-size: 24px;
}
.divider {
  padding: 24px;
  text-align: center;
  color: #7100ff;
  font-weight: 300;
  font-size: 12px;
}
/*
==========================
==         Work         ==
==========================
*/
.works{
  max-width: 1280px;
  margin: auto;
}
.work-main h6 {
  color: #000eff;
}
.work-description {
  padding: 12px;
}
.work-display-links a {
  font-size: 20px;
  margin-right: 10px;
  color: #7100ff;
}
.description-header {
  font-weight: 500;
}
#features-and-technologies {
  display: flex;
  justify-content: center;
  padding: 12px 16px;
  background-color: #eeefee;
}
.work-ul {
  flex-basis: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.work-ul h3 {
  margin-bottom: 0;
}
.work-ul li {
  list-style: square;
}
.back-to-portfolio {
  padding: 12px 0 8px 0;
  text-align: center;
}
.work-display-links a:last-child, .work-display-links:last-child a i {
  color: #008eff;
}
/*
==========================
==         About        ==
==========================
*/
.about-section-text p {
  padding: 0 16px 16px 16px;
  margin-bottom: 24px;
  font-size: 18px;
}
#technologies-used {
  background-color: #eeefee;
  padding: 4px 8px 16px 8px;
  text-align: center;
}
.technologies {
  margin: auto;
  width: 85%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.technology {
  font-size: 16px;
  flex-basis: 25%;
  text-align: center;
  margin-bottom: 16px;
}
.technology img {
  max-width: 128px;
  margin-bottom: 0;
}
/*
===================
==     Footer    ==
===================
*/
footer {
  background-color: #333eff;
  text-align: center;
  color: #ffefff;
}
#footer-info, #footer-message{
  padding: 8px;
}
#footer-message {
  padding-bottom: 0;
  margin-bottom: 0;
}
footer h2 {
  margin-bottom: 12px;
}
footer a {
  color: #ffefff;
  text-decoration: underline;
}
footer a i {
  font-size: 44px;
  text-decoration: none;
  margin: 16px;
  color: #ffefff;
}
.send-message {
  font-size: 24px;
  font-family: Caveat, cursive;
}
footer label {
  margin-top: 8px;
  float: left;
  padding: 1px;
}
footer input[type=email], footer textarea{
  width: 100%;
  font-size: 16px;
  margin: 0;
  margin-left: -1px;
  padding: 6px 0;
}
input[type=submit]{
  margin-top: 12px;
}
.copyright {
  padding: 8px;
  font-size: 10px;
  font-weight: 300;
}
/*
=======================
==     Message-Me    ==
=======================
*/
#message-me {
  visibility: hidden;
  z-index: 5;
  position: fixed;
  right: 32px;
  bottom: 32px;
  background-color: #7100ff;
  color: #ffefff;
  font-size: 44px;
  padding: 10px 18px 12px;
  border-radius: 50%;
  box-shadow: 1px 1px 6px #000e00;
}
#message-me a {
  padding: 0;
  margin: 0;
  height: 0;
}
/*
=============================
==     Message Outcome     ==
=============================
*/
#message-outcome{
  padding: 24px;
  text-align: center;
}
#redirect {
  color: #333eff;
}
/*
================================
==     Company Logo Colors    ==
================================
*/
.social-links .fa-linkedin{
  color:#000eff;
}
.social-links .fa-github{
  color:#7100ff;
}
footer .fa-github:hover{
  color: #211F1F;
}
.fa-linkedin:hover{
  color: #0e76a8;
}
@media only screen and (min-width: 440px){
  .corner{
    width: 220px;
    height: 220px;
  }
}
@media only screen and (min-width: 600px){
  .corner{
    width: 280px;
    height: 280px;
  }
  .profile{
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 56px;
  }
  .profile-text{
    margin: 0;
  }
  .social-links {
    margin-bottom: 0;
  }
  .profile-img-div{
    margin: 0;
  }
  .profile-img {
    margin-top:16px;
    margin-top:24px;
    height:auto;
    width: 224px;
    border-radius: 1%;
    position: relative;
    z-index: 1;
    box-shadow: -1px -1px 4px #000e00;
  }
  .link-strip h2{
    font-size: 28px;
  }
}
@media only screen and (min-width: 800px){
  .works{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .work {
    flex: 1;
  }
  .img-carousel{
    padding-right: 12px;
  }
  .about-section-text h3 {
    margin-left: 24px;
  }
  .about-section-text p{
    padding-left: 24px;
    padding-right: 24px;
    font-size: 20px;
  }
  .img-carousel {
    float: left;
    width: 50%;
    margin-right: 12px;
  }
  #features-and-technologies{
    clear: both;
  }
}
@media only screen and (min-width: 1280px){
  header {
    left: 50%;
    transform: translateX(-50%);
  }
  h1 {
    font-size: 44px;
    text-shadow: -1px -1px #eeefee;
  }
  h2 {
    font-size: 32px;
  }
  p {
    font-size: 20px;
  }
  .hero-text h1{
    font-size: 46px;
  }
  .hero-text p{
    font-size: 22px;
  }
  .profile-img-div img {
    width: 224px;
  }
  .technologies i{
    font-size: 64px;
  }
}
/***********************
           IE
***********************/
@media screen and (-ms-high-contrast: active),(-ms-high-contrast: none){
  body{
    animation: fadeIn 1s;
  }
  .hero-opaque{
    background-color: #000eff;
    opacity: .6;
  }
  #cookie-notice{
    background-color: #000e00;
  }
}
/************************
           Edge
************************/
@supports (-ms-ime-align:auto){
  .hero-opaque{
    background-color: #000eff;
    opacity: .6;
  }
  #cookie-notice{
    background-color: #000e00;
  }
  .modal-opaque{
    background-color: #000eff;
    opacity: .6;
  }
  #modal-ad-content {
    background-color: #000e00;
  }
}
/************************
       Animations
************************/
.fade-in.animated.animate {
  animation-name: fadeIn;
  animation-duration: 1.2s;
}
.fade-from-left.animated.animate{
  animation-name: fadeFromLeft;
  animation-duration: 1.2s;
}
.fade-from-right.animated.animate{
  animation-name: fadeFromRight;
  animation-duration: 1.2s;
}
.fade-from-below.animated.animate{
  animation-name: fadeFromBelow;
  animation-duration: 1.2s;
}
.fade-from-left.fast.animated.animate, .fade-from-right.fast.animated.animate{
  animation-duration: .8s;
}
@keyframes fadeIn{
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeFromLeft {
  from {
    opacity: 0;
    transform: translateX(-250px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeFromRight {
  from {
    opacity: 0;
    transform: translateX(250px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeFromBelow {
  from {
    opacity: 0;
    transform: translateY(120px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes cookieEnter {
  0% {transform: translateY(100%);}
  70% {transform: translateY(100%);}
  100% {transform: translateY(0);}
}
